.swiperImg {
  width: 750rpx;
}
.menu {
  margin-top: 10rpx;
  display: flex;
}
.menu .menu-item {
  flex: 1;
}
.menu .menu-item image {
  width: 180rpx;
  height: 170rpx;
}
.floor {
  margin-top: 10rpx;
}
.floor .floor-title {
  width: 750rpx;
}
.floor .floor-title img {
  height: 80rpx;
}
.floor .floor-content {
  display: flex;
}
.floor .floor-content .left img {
  width: 232rpx;
  height: 385rpx;
}
.floor .floor-content .right {
  flex: 1;
  flex-wrap: wrap;
}
.floor .floor-content .right img {
  width: 232rpx;
  height: 188rpx;
  padding: 0 10rpx;
}
.top {
  position: fixed;
  bottom: 50rpx;
  right: 50rpx;
  border-radius: 50rpx;
  width: 100rpx;
  height: 100rpx;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
}
