.search {
  padding: 20rpx;
  background: #eee;
}
.search .search-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.search .search-content .search-modal {
  position: absolute;
  width: 100%;
  left: 0;
  top: 60rpx;
  background: #f5f5f5;
  padding: 20rpx;
  height: 500px;
  overflow-y: auto;
}
.search .search-content .search-modal .search-item {
  height: 60rpx;
  line-height: 60rpx;
  border-bottom: 1px #eee solid;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search .search-input {
  height: 60rpx;
  line-height: 60rpx;
  background: #fff;
  padding: 0 20rpx;
  flex: 1;
  display: flex;
  align-items: center;
}
.search .search-input icon {
  margin-right: 10rpx;
  display: block;
  width: 16px;
  height: 16px;
}
.search .search-input input {
  flex: 1;
  font-size: 15px;
}
.search .cancel {
  height: 60rpx;
  line-height: 60rpx;
  margin-left: 10rpx;
}
.history {
  display: flex;
  justify-content: space-between;
  padding: 20rpx;
}
.history-list {
  display: flex;
  padding: 20rpx 10rpx;
  flex-wrap: wrap;
}
.history-list .history-item {
  margin: 10rpx 10rpx;
  padding: 20rpx;
  background: #eee;
}
