.search {
  padding: 20rpx;
  background: #eee;
}
.search-input {
  padding: 0 20rpx;
  background: #fff;
  border-radius: 4px;
  height: 60rpx;
  font-size: 16px;
  display: flex;
  align-items: center;
  color: #999;
}
.search-input icon {
  margin-right: 5px;
}
.tabs {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px #eee solid;
}
.tabs .tab-item {
  padding: 20rpx 0;
}
.tabs .active {
  color: red;
}
.goods-list {
  padding: 0 20rpx;
}
.goods-item {
  display: flex;
  justify-content: space-between;
  padding: 20rpx 0;
  border-bottom: 1px #eee solid;
}
.goods-item img {
  width: 200rpx;
  height: 200rpx;
  display: block;
  margin-right: 20rpx;
  flex-shrink: 0;
}
.goods-item .goods-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.goods-item .goods-right h4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.goods-item .price {
  color: red;
  font-size: 18px;
}
.goods-item .price span {
  font-size: 14px;
}
.more {
  padding: 20rpx;
  text-align: center;
  color: #999;
  font-size: 14px;
}
